<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar autor</title>
        <link rel="stylesheet" href="../Style2.css">
    </head>

    <body>

        <section class="contenedor">

            <h3>Ingresar autor</h3>
            <form action="/autor/registro" method="Post" >

                <p>Nombre del autor</p>
                <input class="controls" type="text" placeholder="Ej. Julio" name="nombre">

                <button type="submit" class="boton">Enviar</button>

            </form>
        </section>
    </body>