<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libreria xd</title>
        <link rel="stylesheet" href="../Style1.css" />
    </head>

    <body>

        <header>
            <div class="menu">
                <img src="../images.jpg" alt="">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/menuAdmin">Soy admin</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="contenedor-main">
            <section class="contenedor-botones">
                <button class="boton"><span>Ver libros</span></button>
                <button class="boton"><span>Ver autores</span></button>
                <button class="boton"><span>Ver editoriales</span></button>
            </section>
        </main>
    </body>

</html>