<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Libreria xd</title>
        <link rel="stylesheet" href="../Style4.css"/>
    </head>

    <body>

        <header>
            <div class="menu">
                <img src="../images.jpg" alt="saitama">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/menuAdmin">Soy admin</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="contenedor-main">
            <section class="contenedor-botones">
                <a href="/autor/registro" class="boton">Administrar autores </a>
                <a href="/editorial/registro" class="boton">Administrar editoriales </a>
                <a href="/libro/registro" class="boton">Administrar libros</a>
            </section>
        </main>
    </body>
</html>